#app-container {
    position: relative;
}

#app {
    position: relative;
    z-index: 1;
}

#spotify-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh; /* This will make the overlay fit the screen vertically */
    z-index: 2;
}